.vscode

venv
dist
build
.idea
**/__pycache__
**/logs
**/output
**/result
**/data
modelzoo

*.log
*.sqlite
*.db
**/.ipynb_checkpoints
*.mp3
*.jpg
*.png
*.xlsx
*.wav
*.zip
*.flv
*.csv
*.xls
*.ods
*.csv#
*.h5
*.json
*.mp4
*#
*.m4a